<!-- footer start -->

<footer class="site-footer">
  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Inscreva-se!</span></a>
    <div class="inner">
         <section class="copyright">Todos os direitos reservados <a href="mailto:{{ site.email}}">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; </section>
         <section class="poweredby"><a href="https://jonathanscheibel.github.io/>Jonathan Scheibel</a></section>
    </div>
</footer>

<!-- footer end -->
